.barrage{
	position: fixed;
	bottom:70px;
	right:-500px;
	display: inline-block;
	width: 500px;
	z-index: 99999;
	.z {float: left !important;}
	a{text-decoration:none;}
}
.barrage_box{
	background-color: rgba(0,0,0,.5);
	padding-right: 8px; 
	height: 40px;
	display: inline-block;
	border-radius: 25px;
	transition: all .3s;
	.portrait{ 
		display: inline-block;
		margin-top: 4px; 
		margin-left: 4px; 
		width: 32px;
		height: 32px;
		border-radius: 50%;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
		}
	}
	div.p a{ 
		margin-right: 2px; 
		font-size: 14px;
		color: #fff;
		line-height: 40px;
		margin-left: 18px; 
	}
	div.p a:hover{
		text-decoration: underline;
	}
	.close{
		visibility: hidden;
		opacity: 0; 
		text-align: center; 
		width:25px;
		height: 25px;
		margin-left: 20px;
		border-radius: 50%;
		background:rgba(255,255,255,.1);
		margin-top:8px; background-image: url(https://cdn.jsdelivr.net/gh/yaseng/jquery.barrager.js@master/dist/css/close.png);
		a{
			display:block;
		}
		.icon-close{font-size: 14px;color:rgba(255,255,255,.5);display: inline-block;margin-top: 5px; }
	}

}
.barrage_box:hover .close{visibility:visible;opacity: 1;}