.valine {
  * {
    box-sizing: border-box;
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,STHeitiSC-Light,simsun,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";
    font-size: 100%;
    font-weight: normal;
    line-height: 1.42857143;
    color: #3c484e;
    transition: all .3s ease;
    margin: 0;
    padding: 0;
  }
  .vwrap {
    overflow: hidden;
    position: relative;
    .textarea-wrapper {
      margin-bottom: 0.625em;
      textarea {
        color: #4b5b62;
        width: 100%;
        background: #fafdff;
        border: .06em solid #edf4f8;
        border-radius: .2em;
        padding: .4em .5em;
        min-height: 10em;
        resize: none;
        &:focus {
          border-color: #c4c8cb;
          outline: 0
        }
      }
    }

    .auth-section {
      display: flex;
      display: -ms-flexbox;

      .input-wrapper {
        -ms-flex: 1 1 27%;
        flex: 1 1 27%;
        padding-right: 0.6em;
        width: 27%;
        margin: 0 0 .6em;

        input {
          color: #4b5b62;
          background: #fafdff;
          border: .06em solid #edf4f8;
          border-radius: .2em;
          padding: .4em .5em;
          line-height: 2;
          font-size: 1em !important;
          &:focus {
            border-color: #c4c8cb;
            outline: 0
          }
        }
      }

      input {
        width: 100%;
      }

      .post-action {
        -ms-flex: 1 1 19%;
        flex: 1 1 19%;
        width: 19%;
        margin: 0 0 .6em;

        button {
          color: #fff;
          width: 100%;
          line-height: 2;
          font-weight: bolder;
          background: #33b1ff;
          border: .06em solid #edf4f8;
          border-radius: .2em;
          padding: .4em .5em;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-size: 1em !important;
        }
      }
      @media screen and(max-width: 720px) {
        display: block;
        .input-wrapper, .post-action{
          -ms-flex: 1 1 100%;
          flex: 1 1 100%;
          padding-right: 0;
          width: 100%
        }
      }
    }

    .vmark {
      position: absolute;
      background: rgba(0, 0, 0, .65);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      .valert {
        padding: 3em 0 0 0;
        .vtext {
          color: #fff;
          padding: 15px;
        }
        .vcode {
          width: 75px;
          border-radius: 5px;
          background: #dedede;
          &:focus {
            border-color: #3090e4;
            background-color: #fff;
          }
        }
      }
      @media screen and(max-width: 720px) {
        .valert {
          padding: 8em 0;
          .vtext {
            color: #fff;
            padding: 10px;
          }
        }
      }
    }
  }
  .info {
    padding: 5px;
    .col {
      display: inline-block;
      vertical-align: middle;
    }
    svg {
      margin-right: 2px;
      overflow: hidden;
      fill: currentColor;
    }
    .count {
      font-size: 1.5em;
    }
  }
  .power {
    color: #999;
    font-size: 0.625em !important;
  }
  a {
    text-decoration: none;
    color: #3eb0ef;
    &:hover {
      // color: #3eb0ef;
    }
  }
  ul,
  li {
    list-style: none;
  }
  .txt-center {
    text-align: center;
  }
  .float-right {
    float: right !important;
  }
  .pd5 {
    padding: 5px;
  }
  .pd10 {
    padding: 10px;
  }
  .vbtn {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #33b1ff;
    border: .06em solid #33b1ff;
    border-radius: .2em;
    color: #fff;
    padding: .5em 1.5em;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    min-width: 60px;
    max-width: 100%;
    margin: 0 1em;
  }
  .vbtn:active,
  .vbtn:hover {
    border-color: #33b1ff;
  }
  .vlist {
    // border-top: 1px solid #dedede;
    // border-bottom: 1px solid #dedede;
    padding: 0;
    .vcard {
      display: flex;
      display: -ms-flexbox;
      padding-top: 2em;
      // padding: 8px 0;
      // &+.vcard {
      //     border-top: 1px solid #dedede;
      // }
      .vavatar {
        margin-right: 1em;
        margin-top: 0.1em;
        display: inline-block;
        height: 3em;
        width: 3em;
        position: relative;
        border-radius: 50%;
        &:hover {
          transform: rotate(1turn);
          -webkit-transform: rotate(1turn);
        }
      }
      .vhead {
        line-height: 1;
        a {
          font-weight: bolder;
          font-size: 1em;
          color: rgba(0, 0, 0, .7);
        }
        .spacer {
          color: #ccc;
          margin-left: .3em;
          margin-right: .3em;
        }
        .vtime {
          color: #a9a4a4;
          display: inline-block;
        }
      }
      .vcomment {
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-all;
        text-align: justify;
        line-height: 1.8;
        margin-top: 0.3em;
        margin-bottom: .6em;
        pre.code {
          overflow: auto;
        }
      }
      .vat {
        color: #33b1ff;
        cursor: pointer;
      }
      .vat:hover {
        color: #005e99;
      }
    }
    .vempty {
      padding: 20px;
      text-align: center;
      color: #999;
    }
  }
  /************ Loading ************/
  .spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
  }
  .spinner > div {
    background-color: #9c9c9c;
    height: 100%;
    width: 6px;
    margin-right: 3px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .spinner .r2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .spinner .r3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .spinner .r4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .spinner .r5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  @-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4)
    }
    20% {
      -webkit-transform: scaleY(1.0)
    }
  }
  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}
